
.flex-container1{
    display:flex;
    flex-direction: row;
}
  
a:hover{
    transition-property: font-size;
    transition-property: color;
    transition-duration: 0.3s;
    font-size: 2.3vw;
    color: #97d700;
   
  }
  
li a{
    text-decoration:none;
   margin-left:2vw;
   padding-right: 2vw;
   color: black;
  }
   
li{
    list-style-type: none; 
    font-size: 2vw;
  
  }


  #flex-item1{
    width: 20%;
    line-height: 2.2vw;
    background-color: rgb(135, 182, 167);
    padding-right: vw;
    margin-right: 2%;
    height: 40%;
  }
  
